.dog-forever{
    padding: 102px 64px 102px 69px;
    background-image: url("../../images/behind-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    position: relative;
    margin-top: 86px;
}

.dog-forever__page{
    display: flex;
    align-items: center;
}

.dog-forever__head{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 31.25px;
    line-height: 41px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.dog-forever__desc-box{
    width: 423px;
}

.dog-forever__desc{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.7;
    padding-top: 17px;
}

.dog-forever__input{
    height: 70px;
    width: 487px;
    position: relative;
    padding: 15px 324px 14px 21px;
    background: #FFFFFF;
    border-radius: 10px;
    border: none;
    outline: none;
    font-family: 'Roboto', sans-serif;

    &::placeholder{
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 41px;
        display: flex;
        align-items: center;
        color: #170C04;
        opacity: 0.4;
    }
}

.dog-forever__btn{
    position: absolute;
    left:377px;
    padding: 15px 37px;
    background: #E27B3A;
    border-radius: 0px 10px 10px 0px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #FFFFFF;
    height: 70px;

    &:hover{
        color: aqua;
    }
}
.dog-forever__form{
    width: 487px;
    position: relative;
    left: -47px;
    margin-left: 66px;
}


@media only screen and (max-width:1112px){
    .dog-forever{
        width: 100%;
    }

    .dog-forever__input{
        width: 100%;
    }
    .dog-forever__page{
        display: flex;
        flex-direction: column;
    }

    .dog-forever__input{
        margin-top: 30px;
    }

    .dog-forever__btn{
        margin-top: 30px;

    }
}
@media only screen and (max-width:700px){
    .dog-forever__form{
        display: none;
    }
}

@media only screen and (max-width:680px){
    .dog-forever__head{
        width: 100%;
        text-align: center;
    }

    .dog-forever__desc-box{
        width: 100%;
        text-align: center;
    }
    .dog-forever__form{
        width: 100%;
        align-items: center;

    }
    .dog-forever__input{
        left: 60px;
        width: 300px;
    }
    .dog-forever__btn{
        left: 295px;
    }
}


@media only screen and (max-width:540px){
    .dog-forever__btn{
        padding-top: 10px;
        height: 40px;
        top: 0;
        left:260px;
    }

    .dog-forever__input{
        left: 25px;
        width: 250px;
        height: 40px;
    }
}

@media only screen and (max-width:505px){
    .dog-forever__input{
        left: -7px;
    }
    .dog-forever__btn{
        left: 228px;
    }
}

@media only screen and (max-width:462px){
    .dog-forever__input{
        margin-left: -56px;
    }

    .dog-forever__btn{
        left: 204px;
    }
}

@media only screen and (max-width:513px){
    .dog-forever__form{

    }
}

@media only screen and (max-width:435px){
    .dog-forever__form{
        width: 285px;
    }

    .dog-forever__input{
        width: 150px;
    }
}

@media only screen and (max-width:451px){
    .dog-forever__head{
        font-size: 23px;
    }
}

@media only screen and (max-width:393px){
    .dog-forever__input{
        top: 80px;
        background-color: red;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

}