
.boxs{
    display: flex;
    padding-top: 100px;
}


.dogs__puppy{
    position: relative;
    top: -120px;
    left: -262px;
    width: 916px;
    height: 611px;
}
.dogs__heading{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    line-height: 120px;
    color: #170C04;
}
.dogs__link{
    padding: 12px 30px;
    background: #E27B3A;
    border-radius: 24px;
    text-decoration: none;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    transition: color 1s;

    &:hover{
        color: lightblue;
    }
}

.dogs__links{
    padding: 12px 30px;
    background:lightgoldenrodyellow;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #E27B3A;
    border: 1px solid #E27B3A;
    box-sizing: border-box;
    border-radius: 24px;
    text-decoration: none;
    margin-left: 20px;

    &:hover{
        color: lightblue;
    }
}

.dogs__heading-box{
    width:613px;
}

.dogs__link-box{
    padding-top: 60px;
    padding-bottom: 12px;
}


@media only screen and (max-width:1160px){
    .container{
        width: 96%;
    }
    .dogs__puppy{
        display: none;
    }

    .dogs__link-box{
        width: 100%;
        text-align: center;
    }

    .dogs__heading-box{
        width: 100%;
        text-align: center;
    }
}

@media only screen and (max-width:1380px){
    .dogs__puppy{
        left: -218px;
        top: -92px;
        width: 718px;
        height: 500px;
    }
}

@media only screen and (max-width:585px){
    .dogs__heading{
        margin-top: -60px;
        font-size: 58px;
    }
}

@media only screen and (max-width:360px){
    .dogs__link-box{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .dogs__links{
        position: relative;
        left: -9px;
        padding: 9px 19px;
        margin-top: 10px;
    }
}